@import url('https://fonts.googleapis.com/css?family=Alatsi|Bebas+Neue&display=swap'); :root {
    font-family: 'Alatsi', sans-serif;
    --main-color: black; scroll-behavior: smooth;
}

body {
    max-width: 980px;
    margin: auto;
}

header .banner {
    display: flex;
}

header .picture {
    width: 50x;
    height=50px; border-radius: 50%;
}

header .name {
    font-size: 2rem;
    margin: 1rem;
    padding: 5px;
}

header .logo {
    font-family: 'Bebas Neue', cursive;
    font-size: 1rem;
    color: orangered;
    margin: 1rem;
}

.burger-menu {
    position: absolute;
    top: 3rem;
    right: 1rem;
    left:600px;
}

@media (min-width: 980px) {
    .burger-menu {
        padding-right:3rem;
        display:flex;
        align-items: center;
    }   
}


.information {
    text-align: center;
    padding: 2rem 1rem;
}

.text-title {
    font-size: 2rem;
    font-family: 'Bebas Neue', cursive;
    text-transform: uppercase;
    color: green;
    text-align: center;
}

@media (min-width: 980px) {
    .content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px 10px;
    }
}

@media (min-width: 980px) {
    .information {
        text-align:justify;
        padding-top: 1rem;
    }
}

.gallery {
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    color: sienna;
    padding-top: 1rem;
}

.little-text {
    font-size: x-large;
    font-family: 'Bebas Neue', cursive;
    color: lawngreen;
}

.house-doll p {
    padding: 2rem 2rem;
    font-size: x-large;
    font-family: 'Bebas Neue', cursive;
    color: purple;
    text-align: left;
}
@media (min-width: 980px) {
    .house-doll {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap:10px;
    align-items: center;
    }
}

#замовити h3 {
    padding: 1rem 1rem;
    text-align: center;
    font-size: larger;
    color: salmon;
}

#контакти {
    font-size: x-large;
}

@media (min-width: 980px) {
    .buy {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px 20px;
        align-items: baseline;
    }
}

.end-logo {
    text-align: center;
    font-size: larger;
    color:blueviolet;
    font-weight: bold;   
}
