@import url('https://fonts.googleapis.com/css?family=Alatsi|Bebas+Neue&display=swap'); :root {
    font-family: 'Alatsi', sans-serif;
    --main-color: black; scroll-behavior: smooth;
}

body {
    max-width: 980px;
    margin: auto;
}

header .banner {
    display: flex;
}

header .picture {
    width: 50x;
    height=50px; border-radius: 50%;
}

header .name {
    font-size: 2rem;
    margin: 1rem;
    padding: 5px;
}

header .logo {
    font-family: 'Bebas Neue', cursive;
    font-size: 1rem;
    color: orangered;
    margin: 1rem;
}

header nav .menu {
    display: flex;
    padding: 0;
    list-style: none;
    justify-content: space-around;
}

header nav .menu a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--main-color);
    border: 1px solid transparent;
    padding: 5px;
}

header nav .menu a:hover {
    border: 1px solid var(--main-color);
}

@media (min-width: 600px) {
    header nav {
        display: flex;
        align-items: center;
    }

    header .menu {
        flex: 1;
    }
}